body{
    background-color: slateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
  }
  
  img{
    border-radius: 75px;
  }
  
  h2{
    font-size: 18px;
  }
  
  a{
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px
  }